@import "variables.css";


.top-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    box-sizing: border-box;
    padding: 20px 40px;
    max-height: 120px;

    background-color: var(--background);
    font-family: var(--main-font);
    font-size: 24px;
}

