@import "variables.css";

.profile-page{
    font-size: 20px;
}

.email-phone-content{
    display: flex;
    margin: 12px 0;
    gap: 20px;
}

.change-user-phone-btn{
    width: fit-content;
    height: fit-content;
}

.password-to-change input{
    width: 240px;
    font-size: 24px;
    border-radius: 8px;
    margin: 0 12px;
    padding: 4px;
}