@import "variables.css";

/*home-page*/

.card-stat-text{
    font-family: var(--accent-font);
    font-size: 32px;
    margin-bottom: 0;
    margin-top: auto;
}
.card-stat{
    margin-top: 0;
    font-size: 32px;
}

.dashboard-row{
    display: flex;
    text-align: center;  
    justify-content: center;
    margin: 32px auto 0 auto;
    gap: 20px;
    font-size: 24px;
}

.order-contains {
    text-align: left;
    list-style-position: inside; 
    padding: 0;
}

.check-order-button{
    color: var(--text);
    margin: 4px;
    text-decoration: none;
}

.check-order-button:hover{
    margin: 4px;
    color: var(--accent);
    text-decoration: underline;
}

.quick-actions a{
    text-align: left;
    margin: 4px 12px;
    text-decoration: none;
    color: var(--text);
}
.quick-actions a:hover{
    color: var(--accent);
    text-decoration: underline;
}