@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=WDXL+Lubrifont+TC&display=swap');


:root{
    --text: #070d0e;
    --textsecondary: #1d373b;
    --background: #f5f9fa;
    --primary: #539db2;
    --primarybg: #539db26b;
    --secondary: #9ca7d3;
    --accent: #7a80ce;
    --accentbg: #bbc9ff2d;

    --accept: #28c528;
    --acceptbg: #28c52817;

    --main-font: "WDXL Lubrifont TC", sans-serif;
    --accent-font: "Aldrich", sans-serif;
}