APP_PORT=8080

POSTGRES_DB=automaster
POSTGRES_USER=automaster_user
POSTGRES_PASSWORD=automaster_password

DB_HOST=db
DB_PORT=5432
DB_NAME=automaster
DB_USER=automaster_user
DB_PASSWORD=automaster_password
DB_SSLMODE=disable