<section class="cars-page">
    <div class="discription-cars discription">
        <h2 class="cars-page-discription page-discription">База клиентов и автомобилей</h2>
    </div>

    <div class="cars-container tcontainer"> 
        <table class="cars-table table">
            <thead>
                <tr>
                    <th>Владелец</th>
                    <th>Марка авто</th>
                    <th>Госномер</th>
                    <th>Год выпуска</th>
                </tr>
            </thead>
            <tbody class="cars-body tbody" id="cars-table-body">
            </tbody>
        </table>
    </div>
</section>