<section class="home-page">
    <div class="welcome-card card-width-screen">
            <h2 class="welcome-sign">Добро пожаловать в автомастерскую!</h2>
            <p> Мы создали это пространство, чтобы сделать ремонт вашего автомобиля прозрачным и быстрым. Здесь вы можете в пару кликов отследить статус текущих работ, записаться на сервис или проверить наличие необходимых деталей на нашем складе. Мы ценим качество и ваше время, поэтому всё самое важное — у вас перед глазами.</p>
    </div>
    <section class="card-holder-flex">

        <div class="mid-card">
            <h2 class="card-stat">Обслуживание</h2>
            <p class="card-stat-text-fixed">Всего обработанных заказов</p>
            <p class="card-stat-text"><b>4251</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Доверие</h2>
            <p class="card-stat-text-fixed">Постоянных клиентов в базе</p>
            <p class="card-stat-text"><b>412</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Автопарк</h2>
            <p class="card-stat-text-fixed">Уникальных моделей авто</p>
            <p class="card-stat-text"><b>159</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Складской учет</h2>
            <p class="card-stat-text-fixed">Позиций запчастей в наличии</p>
            <p class="card-stat-text"><b>749</b></p>
        </div>

    </section>

</section>