<section class="orders-page">

    <div class="discription-orders discription">
        <h2 class="orders-page-discription page-discription">Ваши заказы собраны здесь!</h2>
        <button class="create-order create-button">Создать заказ <strong>+</strong></button>
    </div>

    <div class="orders-container tcontainer">
        <table class="orders-table table">
            <thead>
                <tr>
                    <th>№ Заказа</th>
                    <th data-role="master admin">Клиент</th>
                    <th>Машина</th>
                    <th>Услуга</th>
                    <th>Номер для связи</th>
                    <th data-role="admin">Мастер</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody class="orders-body tbody">
            </tbody>
        </table>
        
    </div>

</section>