<section class="profile-page">

    <h2 class="profile-sign">Профиль пользователя</h2>
    <p class="profile-name">Пользователь</p>
    <p class="user-role" data-role="master">Мастер</p>

    <section class="personal-data">
        <div class="email-phone-content">
            <p class="user-email">email@email.com</p>
            <p class="user-phone">+7(900)000-00-00</p>
        </div>
    </section>
    <hr>
    <section class="user-cars">
        <div class="profile-car-discription discription">
            <h2 class="page-discription">Ваши транспортные средства</h2>
            <button class="add-car create-button">Добавить авто <strong>+</strong></button>
        </div>
        <div class="user-added-cars"></div>

        <template id="car-card-template">
            <article class="car-card">
                <h3 class="car-brand"></h3>
                <p class="car-plate"></p>
                <p class="car-year"></p>
                <p class="car-color"></p>

                <div class="car-actions">
                    <button type="button" data-action="delete" class="delete-btn">Удалить</button>
                </div>
            </article>
        </template>
    </section>
    <section class="pop-up-create-car hidden">
        <div class="popup-content">
            <h2>Добавить новый автомобиль</h2>
            <form id="add-car-form">
                <div class="form-group">
                    <label>Марка автомобиля</label>
                    <input type="text" name="brand" placeholder="Напр. Toyota" required>
                </div>
                <div class="form-group">
                    <label>Госномер</label>
                    <input type="text" name="plate_number" placeholder="А000АА777" required>
                </div>
                <div class="form-group">
                    <label>Год выпуска</label>
                    <input type="number" name="manufacture_year" min="1900" max="2026" required>
                </div>
                <div class="form-group">
                    <label>Цвет</label>
                    <input type="text" name="color" placeholder="Черный" required>
                </div>

                <div class="popup-actions">
                    <button type="button" class="secondary-btn" id="close-popup">Отмена</button>
                    <button type="submit" class="primary-btn">Сохранить</button>
                </div>
            </form>
        </div>
    </section>

</section>