<section class="clients-page">
    <div class="discription-clients">
        <h2 class="orders-page-discription">База клиентов и автомобилей</h2>
    </div>
    <div class="client-container tcontainer role-client"> 
        <table class="client-table table">
            <thead>
                <tr>
                    <th>ФИО клиента</th>
                    <th>Почта</th>
                    <th>Марка авто</th>
                    <th>Госномер</th>
                    <th data-role="admin">Действия</th>
                </tr>
            </thead>
            <tbody class="clients-body tbody" id="clients-table-body">
            </tbody>
        </table>
    </div>
</section>