<section class="home-page">
    <div class="welcome-card card-width-screen">
            <h2 class="welcome-sign">Добро пожаловать в автомастерскую!</h2>
            <p> Мы создали это пространство, чтобы сделать ремонт вашего автомобиля прозрачным и быстрым. Здесь вы можете в пару кликов отследить статус текущих работ, записаться на сервис или проверить наличие необходимых деталей на нашем складе. Мы ценим качество и ваше время, поэтому всё самое важное — у вас перед глазами.</p>
    </div>
    <section class="card-holder-flex">

        <div class="mid-card">
            <h2 class="card-stat">Обслуживание</h3>
            <p class="card-stat-text-fixed">Всего обработанных заказов</p>
            <p class="card-stat-text"><b>4251</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Доверие</h3>
            <p class="card-stat-text-fixed">Постоянных клиентов в базе</p>
            <p class="card-stat-text"><b>412</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Автопарк</h3>
            <p class="card-stat-text-fixed">Уникальных моделей авто</p>
            <p class="card-stat-text"><b>159</b></p>
        </div>

        <div class="mid-card">
            <h2 class="card-stat">Складской учет</h3>
            <p class="card-stat-text-fixed">Позиций запчастей в наличии</p>
            <p class="card-stat-text"><b>749</b></p>
        </div>

    </section>

    <section class="dashboard-row">
        <div class="orders-preview la-card">
            <div class="user-order">
                <h2 class="order-token">Ваш заказ №<span>3</span></h3>
                <h4 class="order-status">В обработке</h4>
                <ul class="order-contains">
                    <li>Замена масла</li>
                    <li>Замена фильтров</li>
                    <li>Проверка технических жидкостей</li>
                </ul>
                <a href="#" class="check-order-button">Посмотреть заказ</a>
            </div>
        </div>

        <div class="quick-actions la-card">
            <h2 class="actions-text">Быстрые действия</h2>
            <a href="#" class="action" data-action="create-order">Создать заказ</a>
            <a href="#" class="action" data-action="view-history">Посмотреть свои заказы</a>
            <a href="#" class="action" data-action="part-status">Узнать статус запчасти</a>
            <a href="#" class="action" data-action="calc-price">Рассчитать стоимость</a>
            <a href="#" class="action" data-action="call-tow">Вызвать эвакуатор</a>
        </div>
    </section>

</section>