<section class="profile-page">

    <h2 class="profile-sign">Профиль пользователя</h2>
    <p class="profile-name">Пользователь</p>
    <p class="user-role" data-role="mechanic admin">Механик</p>

    <section class="personal-data">
        <div class="email-phone-content">
            <p class="user-email">email@email.com</p>
            <p class="user-phone">+7(900)000-00-00</p>
            <button class="change-user-phone-btn button">Сменить номер телефона</button>
        </div>
        <div class="password-change">
            <label for="current-password">Текущий пароль</label>
            <input type="password" id="current-password" class="password-change" placeholder="Введите текущий пароль">

            <label for="new-password">Новый пароль</label>
            <input type="password" id="new-password" class="password-change" placeholder="Введите новый пароль">

            <button class="password-change-btn button">Сменить пароль</button>
        </div>
    </section>
    <hr>
    <section class="user-cars">
        <div class="profile-car-discription discription">
            <h2 class="page-discription">Ваши транспортные средства</h2>
            <button class="add-car create-button">Добавить авто <strong>+</strong></button>
        </div>
        <div class="user-added-cars">
            <template id="car-card-template">
                <article class="car-card">
                    <h3 class="car-brand"></h3>
                    <p class="car-plate"></p>
                    <p class="car-year"></p>
                    <p class="car-color"></p>

                    <div class="car-actions">
                        <button type="button" data-action="delete">Удалить</button>
                    </div>
                </article>
            </template>
        </div>
    </section>

</section>