<section class="service-page">

    <div class="discription-service discription">
        <h2 class="service-page-discription page-discription">Все услуги автомастерской</h2>
        <button class="create-servise create">Добавить услугу <strong>+</strong></button>
    </div>

    <div class="services-container" id="services-container"></div>

    <template id="service-card-template">
        <article class="service-card la-card">
            <h3 class="service-title"></h3>
            <p class="service-description"></p>
            <p class="service-price"><strong></strong></p>

            <div class="service-actions">
                <button type="button" data-action="edit">Редактировать</button>
                <button type="button" data-action="delete">Удалить</button>
            </div>
        </article>
    </template>

</section>
